*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --primary-blue: #3978F8;
  --secondary-blue: #98B8FA;
  --primary-dark: #151725;
  --secondary-dark: #202543; 
}
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&display=swap');
body{
  font-family: 'Karla', sans-serif;
}

Button .boton-primario{
  background-color: var(--secondary-blue);
  color: #fff;
}